<%- include('partials/header') %>

    <!-- <p>
        <%= sender.email %>
    </p>

    <p>
        <%= receiver.email %>
    </p> -->

    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
          <img width="30" height="30" class="d-inline-block align-top" alt="">
          <%= sender.email %>
        </a>
    </nav>

    <div class="row chat-container">
        <div class="col-md-4 left-panel">
            <p>Left Panel</p>
        </div>
        <div class="col-md-8 right-panel">
            <div id="chat-display">
                <% allMessages.forEach(function(message) { %>
                    <% if (message.sender_id == currentUser){ %>
                        <div class="sender-msg">
                            <li><%= message.mssg %></li>
                            <div class="timestamp">
                                <li class="timestamp"><%= message.created_at %></li>
                            </div>
                        </div>
                    <% }else { %>
                        <div class="receiver-msg">
                            <li><%= message.mssg %></li>
                            <div class="timestamp">
                                <li class="timestamp"><%= message.created_at %></li>
                            </div>
                        </div>
                    <% } %>
                <% }); %>
            </div>
            <div>
                <input type="text" id="mssg">
                <button onclick="send()">Submit</button>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script type='text/javascript'> 
        var receiverId = <%- JSON.stringify(receiver.id) %>; 
        var senderId = <%- JSON.stringify(sender.id) %>;
        var currentUser = <%- JSON.stringify(currentUser) %>;
    </script>
    <script src="../main.js"></script>

<%- include('partials/footer') %>