<%- include('./partials/header') %>

    <p>
        <%= sender.email %>
    </p>

    <p>
        <%= receiver.email %>
    </p>

    <div>
        <input type="text" id="mssg">
        <button onclick="send()">Submit</button>
    </div>

    <div>
        <% allMessages.forEach(function(message) { %>
            <li><%= message.sender_id %>, <%= message.receiver_id %> , <%= message.mssg %> , <%= message.created_at %></li>
        <% }); %>
    </div>

    <div id="chat-display">
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script type='text/javascript'> 
        var receiverId = <%- JSON.stringify(receiver.id) %>; 
        var senderId = <%- JSON.stringify(sender.id) %>;
    </script>
    <script src="../main.js"></script>

<%- include('./partials/footer') %>